/* Archivo homePage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
.home {
  @apply absolute inset-0 bg-light bg-opacity-40; /* Fondo con color light */
}

.header {
  @apply relative flex flex-col justify-center items-start text-white bg-cover bg-center h-96 md:h-[50vh];
  background-image: url("https://picsum.photos/600/600");
  background-color: var(--color-light); /* Añadir el color personalizado aquí */
}

.grid-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-0;
}

.logo {
  @apply absolute top-4 left-4 w-12 h-10;
}

.header-title {
  @apply text-xl text-left md:text-2xl font-bold mb-4 z-10 ml-4;
}

.search-bar {
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 bg-light rounded-full shadow-md flex items-center px-4 py-2 w-11/12 md:w-2/3;
  /* Ajusta el tamaño y el color de fondo para que el search bar parezca superpuesto */
}

.search-input {
  @apply flex-grow outline-none px-2 bg-light; /* Fondo con color light */
}

.search-button {
  @apply text-xl text-brandGrey cursor-pointer;
}

.header::before {
  content: "";
  @apply absolute inset-0 bg-black opacity-40;
}

/* Sección Popular y Última llamada */
.section {
  @apply bg-white mb-5 pt-7;
}

.section-title {
  @apply text-lg bg-white font-semibold mb-0; /* Fondo con color light */
}

.experience-card {
  @apply relative bg-white flex flex-col justify-between items-center p-2 h-80 rounded-lg; /* Establecemos el fondo blanco */
}

.experience-image {
  @apply w-full h-44 rounded-lg object-none; /* Fondo con color light */
}

.experience-info {
  @apply absolute bottom-0 w-full p-4 bg-white text-black flex justify-between items-center; /* Flex para el contenedor */
}

.experience-title {
  @apply text-lg font-semibold mb-2;
}

.experience-date {
  @apply text-sm mb-2;
}

.reserve-button {
  @apply text-sm bg-primary text-white px-4 py-2 rounded-full shadow-md hover:bg-primary;
}

/* Modificar el espacio entre las tarjetas en el contenedor de grid */
.grid {
  @apply gap-2; /* Ajusta el espacio entre las tarjetas */
}

/* *Ultima Llamada*/

.experience-card2 {
  @apply bg-light bg-cover bg-center rounded-lg h-56 relative text-white shadow-md overflow-hidden; /* Fondo con color light */
  background-size: cover;
}

.grid-container2 {
  @apply grid grid-cols-2 sm:grid-cols-4 gap-0;
}

.grid-container2 img {
  @apply w-24 h-24; /* Ajusta las imágenes a un tamaño fijo */
}

.section-title2 {
  @apply bg-white text-lg font-semibold mb-3;
}

.experience-image2 {
  @apply min-w-full md:w-24 h-24 object-fill rounded-lg mb-2 md:mb-0 md:mr-4;
}

.experience-info2 {
  @apply absolute bottom-0 w-full p-4 bg-gradient-to-t from-black/60 to-transparent text-white;
}

.experience-title2 {
  @apply text-lg font-semibold mb-4;
}

.experience-date2 {
  @apply text-sm mt-1;
}

/* Categorías */
.category-tags {
  @apply flex flex-wrap gap-2 justify-center;
}

.category {
  @apply px-4 py-2 bg-primary text-white rounded-full text-sm cursor-pointer;
}

.section {
  @apply px-4 py-6; /* Espaciado uniforme para la sección Popular */
}

.ultima-llamada {
  @apply px-4 py-6; /* Espaciado uniforme para la sección Última llamada */
}
