@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contenedor principal */
.home {
  @apply font-sans text-gray-800 bg-white;
}

/* Header */
.header {
  @apply relative flex flex-col items-center p-8 text-black bg-center bg-cover rounded-md pt-9;
  background-image: url("https://picsum.photos/seed/picsum/1500/1500"); /* Añadido padding-top para mover el contenido hacia abajo */
}

.header-title {
  @apply mb-2 text-2xl font-bold text-center;
}
.search-bar {
  @apply relative w-full max-w-md mt-8; /* Añadido margen superior para separar del header */
}

.search-input {
  @apply w-full p-2 pr-8 border border-gray-300 rounded-3xl; /* Espacio a la derecha para el botón */
}

.search-button {
  @apply absolute right-0 flex items-center justify-center w-10 h-10 text-white transition-all transform -translate-y-1/2 rounded-full top-1/2 bg-primary hover:bg-orange-600; /* Posición absoluta a la derecha con diseño circular */
}

/* Sección Popular */
.section-title {
  @apply px-4 mt-5 mb-4 text-xl font-semibold;
}
.grid-container {
  @apply grid grid-cols-2 gap-4;
}
/* .experience-card {
  @apply overflow-hidden rounded-md bg-gray-50;
} */
.experience-image {
  @apply w-11/12 h-40 mx-auto bg-center bg-cover rounded-lg; /* Reduce ancho, centra con `mx-auto` */
}

.experience-info {
  @apply flex items-center justify-between p-4; /* Alineación horizontal */
}
.experience-info-content {
  @apply mb-4;
}
.experience-title {
  @apply mb-2 text-lg font-semibold;
}
.experience-date {
  @apply text-sm font-semibold text-gray-600;
}
.reserve-button {
  @apply px-4 py-2 text-white transition-all rounded-md bg-primary hover:bg-orange-600;
}

/* Sección Última llamada */
.ultima-llamada {
  @apply mt-6;
}

.section-title2 {
  @apply mb-2 text-xl font-semibold;
}

.grid-container2 {
  @apply grid grid-cols-4 gap-4; /* Cambié el gap a 4 para dar más espacio entre los elementos */
}

.experience-card2 {
  @apply mt-2 overflow-hidden rounded-md shadow-md bg-gray-50;
  background-size: cover;
  background-position: center;
  /* Esto fuerza a que las tarjetas tengan el mismo tamaño */
  height: 175px; /* Puedes ajustar la altura según lo que necesites */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.experience-info2 {
  @apply p-6 mt-3 overflow-hidden text-white rounded-md shadow-md;
  height: 100%; /* Esto asegura que el contenedor de la información ocupe todo el alto disponible */
}

.experience-title2 {
  @apply mb-2 text-sm font-semibold;
}

.experience-date2 {
  @apply text-sm;
}
/* Sección Categorías */
.category-tags {
  @apply flex flex-wrap gap-2 px-3 mt-4 mb-6;
}
.category {
  @apply px-4 py-2 text-sm font-semibold text-white transition-all rounded-full cursor-pointer bg-primary hover:bg-orange-200;
}

/* Responsivo */
@media (max-width: 640px) {
  .grid-container {
    @apply grid-cols-1;
  }
  .grid-container2 {
    @apply grid-cols-2;
  }
  .search-bar {
    @apply flex-col;
  }
}
