@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets//fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

body {
<<<<<<< HEAD
  /* Reglas para ajustar siempre la versión mobile a un tamaño máximo y al centro */
  @apply max-w-[375px] w-full mx-auto;
}

/* Forgot Password */

.forgot-password-container {
  @apply max-w-md mx-auto p-6 bg-white shadow-md rounded-lg;
}

.forgot-password-title {
  @apply text-2xl font-semibold text-center mb-4;
}

.forgot-password-label {
  @apply block text-sm font-medium text-gray-700;
}

.forgot-password-input {
  @apply mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm 
             focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary;
}

.forgot-password-button {
  @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md 
           shadow-sm text-sm font-medium text-white bg-primary hover:bg-primary 
           focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
}

.forgot-password-button:disabled {
  @apply bg-indigo-300 cursor-not-allowed;
}

.forgot-password-message {
  @apply mt-4 text-center text-sm text-gray-600;
}

.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal-content {
  @apply bg-white p-6 rounded-lg shadow-lg relative w-11/12 max-w-sm; /* Ajuste del tamaño del modal */
}

.modal-close {
  @apply absolute top-2 right-2 text-gray-400 hover:text-gray-600 text-2xl font-bold cursor-pointer;
}

/*-----------------------------------------------------------------------------------------------------------*/
=======
    /* Reglas para ajustar siempre la versión mobile a un tamaño máximo y al centro */
    /* @apply max-w-[375px] w-full mx-auto */
}

.container-shadow {
    box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.2);
}

label {
    @apply text-sm text-neutral-600
}

input {
    @apply py-4 p-3 text-sm ring-1 ring-neutral-400 rounded-full focus:bg-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-400 cursor-default
}

select {
    @apply px-4 py-3 rounded-full appearance-none
}

button {
    @apply font-semibold bg-primary hover:bg-tertiary text-white text-center rounded-full disabled:bg-neutral-400 disabled:cursor-not-allowed
}
>>>>>>> 8a4d7874c34af10a95302241ee0177f0bd415912
